<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>macos_settings</string>

	<key>CFBundleGetInfoString</key>
	<string>MacOS Settings</string>

<!-- Look up details as marked as required - see NSPasteboard class description -->
<key>CFBundleTypeName</key>
<string>empty</string>

<!-- Look up details -->
	<key>CFBundleTypeRole</key>
	<string>None</string>

	<key>CFBundleIconFile</key>
	<string>macos_settings.icns</string>

	<key>CFBundleIdentifier</key>
	<string>com.frame38.macos_settings</string>

	<key>CFBundleName</key>
	<string>macos_settings</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>

<!-- Refer to detail page - need or can spec additional info -->
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
